body {
  background-color: black;
}

h1 {
  color: #8B4107;
  text-align: center;
}

h4 {
  color: #793705;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #784D2C;
}
