body {
  background-color: black;
}

h1 {
  color: brown;
  text-align: center;
}

h4 {
  color: dark brown;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: light brown;
}
