body {
  background-color: #000000;
}

h1 {
  color: #874108;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
  color: #984909;
}

h4 {
  color: #874108;
  text-align: center;
}

button {
  text-align: center;
}

.title {
  text-align: center;
}

.leftTorch, .rightTorch {
  position: fixed; /* or absolute, depending on layout */
  top: 100px; /* adjust this to move them up/down */
}

.leftTorch {
  left: 20px; /* distance from the left edge */
}

.rightTorch {
  right: 20px; /* distance from the right edge */
}

.leftTorch img, .rightTorch img {
  width: 100px; /* adjust size as needed */
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
